<% tweets.each do |t| %>

<div class="card gedf-card">

  <%# HEADER %>
  <div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <% if t.user.avatar.attached? %>
            <%= image_tag t.user.avatar, width: 45, class: 'rounded-circle' %>
          <% else %>
            <%= image_tag asset_path("pas-de-photo.png"), width: 45, class: 'rounded-circle' %>
          <% end %>
        </div>
        <div class="ml-2">
          <div class="h5 m-0"><%= t.user.email %></div>
          <div class="h7 text-muted"><%= t.user.name %></div>
        </div>
      </div>
      <div>
        <div class="dropdown">
          <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
            <div class="h6 dropdown-header">Configuration</div>
            <a class="dropdown-item" href="#">Save</a>
            <a class="dropdown-item" href="#">Hide</a>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# BODY %>
  <div class="card-body">
    <p class="card-text">
      <%= t.content.html_safe %>
      <div class="text-muted h7 mb-2">

        <%# ANSWERS %>
        <% t.tweets.each do |r| %>
          <p class="ml-5">
            <%= r.user.email %>
            <%= r.content.html_safe %>
          </p>
        <% end %>
      </div>
    </p>
  </div>

  <%# FOOTER %>
  <div class="card-footer">

    <% unless t.user_like(current_user) %>
        <%= link_to (fa_icon 'heart')+' '+t.likes.count.to_s, like_tweet_path(t), method: :post, class: "card-link" %>
    <% else %>
      <%= link_to (fa_icon 'heart')+' '+t.likes.count.to_s, unlike_tweet_path(t), method: :delete, class: "card-link" %>
    <% end %>


    <a type="button" class="card-link" data-toggle="modal" data-target="#modal-<%= t.id %>">
      <i class="fa fa-comment"></i> Reply
    </a>

    <div class="modal fade" id="modal-<%= t.id %>" tabindex="-1" role="dialog" aria-labelledby="modal-<%= t.id %>" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-<%= t.id %>">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= form_tag tweets_path, class: "form-signin", method: :post, remote: true do %>
            <!--, class: "reply-form" -->
              <input type="text" name="tweet[content]" />
              <input type="hidden" name="tweet[tweet_id]" value="<%= t.id %>" />
              <input type="hidden" name="tweet[user_id]" value="<%= current_user.id %>" />
              <button class="btn btn-sm btn-primary" type="submit">Reply</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Share</a>

    <div class="pull-right">
      <% t.tag_names.each do |tag| %>
        <span class="badge badge-primary"><%= tag %></span>
      <% end %>
    </div>

    </div>
  </div>

  <br />
<% end %>

<%= paginate @tweets, theme: 'twitter-bootstrap-4' %>


