<h1>Profile <small class="muted"><%= @user.name %></small></h1>

<div class="container">
  <%= avatar @user %>

  <%= @user.name %>
  <%= @user.email %>

  <% if @user.id.eql? current_user.id %>
    <%= link_to 'Settings', edit_user_registration_path, class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
