<h3>Users list</h3>

<%# Fom to follow users %>

<%= form_tag '/subscriptions', method: 'post' do %>

  <select name='user_id'>
    <% current_user.unfollowed.each do |user| %>
      <option value="<%= user.id %>"><%= user.email %></option>
    <% end %>
  </select>

  <input type="submit" value="Follow" />
<% end %>


<hr />



<H4>followeds</H4>

<%# Form to unfollow the followed %>
<%= form_tag subscriptions_path, method: 'post' do %>

  <select name='user_id'>
    <% current_user.followeds.each do |user| %>
      <option value="<%= user.id %>"><%= user.email %></option>
    <% end %>
  </select>

  <input type="submit" value="Unfollow" />  
<% end %>

<hr>

<ul>
  <% @subscriptions.each do |s| %>
    <li>
      <%= s.follower.email %> -> <%= s.followed.email %>
      <div class="pull-right">
        <%= link_to "Unfollow", s, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </li>
  <% end %>
</ul>


<H4>followers</H4>
<% current_user.followers.each do |user| %>
  <%= user.email %>
<% end %>


<hr />






