<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Touiteure</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Index", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Tweets", tweets_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Users", portal_show_path, class: "nav-link" %>
        </li>
      </ul>
      
      <ul class="navbar-nav navbar-nav-right">
        <% if user_signed_in? and current_user.has_role?(:admin) %>
          <li class="nav-item">
            <%= link_to "Admin", admin_path, class: "nav-link" %>
          </li>
        <% end %>

        <%= login_logout %>
      </ul>
    </div>
  </div>
</nav>