<!DOCTYPE html>
<html>
  <head>
    <title>Touiteur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%# NAVIGATION BAR %>
      <%= render "layouts/navbar" %>
    </header>


    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <%# ERROR / SUCCESS MESSAGE %>
            <%= render "layouts/message" %>
            <br><br>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>


  </body>

  <footer class="container">
    <div class="row">
      <div class="col-2">
    <%# LINK TO GITHUB REPOSITORY %>
    <%= link_to "https://github.com/Poulpy", class: "badge-pill badge badge-secondary" do %>
      <%= fa_icon 'github' %> GitHub
    <% end %>
    <%= link_to "https://gitlab.com/Poulposaure", class: "badge-pill badge badge-info" do %>
      <%= fa_icon 'gitlab' %> GitLab
    <% end %>
    <%= link_to "https://fr.linkedin.com/in/paul-repain-307474160", class: "badge-pill badge badge-primary" do %>
      <%= fa_icon 'linkedin' %> Linkedin
    <% end %>
      </div>
    </div>
  </footer>
</html>
